div {
    position: relative;
    width: 640px;
    height: 496px;
}

#cat-name {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    background-color: #484848;
}

#cat-count {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background-color: #484848;
}